{% extends "base.html" %}
{% block content %}
<div align = "center" class="jumbotron">

    <h2>Arizona Department of Economic Security(DES) Division of Development Disabilities(DDD)</h2>

    <h4>Application for Eligibility:</h4>
</div>


    <div>

        <h5>The Division of Developmental Disabilities(DDD) Application for Eligibility Determination consists of three main documents.</h5>

        <ul>
            <li>DDD-0640A - How is Eligibility Determined</li>
            <li>DDD-1991A - Eligibility Checklist</li>
            <li>DDD-1972A - DDD Application</li>
        </ul>
    </div>

<br>
<br>


<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4>  DDD-0640A - How is Eligibility Determined covers the application requirements across different ages:</h4>
                </a>
    </div>
    <div id="collapseOne" class="collapse">
      <div class="card-body">
               <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">Age</th>
      <th scope="col">Qualifying Diagnosis</th>
      <th scope="col">Additional Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">0 (Birth) to 3:</th>
      <td>The child must show significant delay</td>
      <td>To make a referral, contact AzEIP Central Referral Line (Raising Special Kids) at 800-237-3007 or email AzEIP.Info@raisingspecialkids.org.</td>
    </tr>
    <tr>
      <th scope="row">3 to 6:</th>
      <td>
          <ul>
            <li>Autism</li>
            <li>Cerebral Palsy</li>
            <li>Intellectual (Cognitive) Disability</li>
            <li>Epilepsy</li>
            <li>Or At-Risk to get any of the above</li>
        </ul>
      </td>
        <td>
            <ul>
                <li>Must be an Arizona resident</li>
                <li>Assessment by a medical professional or school evaluator</li>
                    <ul>
                        <li>Doctor</li>
                        <li>School Pyschologist</li>
                        <li>Nurse</li>
                        <li>Early Childhood Education Specialist</li>
                        <li>Physician's Assistant</li>
                        <li>Pediatrician</li>
                        <li>Child Neurologist</li>
                    </ul>
                <li>Some other disabilities are also accepted such as:
                    <ul>
                        <li>Down Syndrome</li>
                        <li>Shaken Baby Syndrome</li>
                        <li>Spina Bifida with Arnold Chiari Malformation</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
      <th scope="row">6 to Adult:</th>
        <td>
            <ul>
            <li>Autism</li>
            <li>Cerebral Palsy</li>
            <li>Intellectual (Cognitive) Disability (Requires an Individual Education Plan(IEP))</li>
            <li>Epilepsy</li>
            <li>Or At-Risk to get any of the above</li>
        </ul>
        </td>
      <td>
           <ul>
                <li>Must be an Arizona resident</li>
               <li>Diagnosed before the age of 18 and likely to continue indefinitely</li>
                <li>Assessment by a medical professional or school evaluator</li>
                    <ul>
                        <li>Doctor</li>
                        <li>School Pyschologist</li>
                        <li>Nurse</li>
                        <li>Early Childhood Education Specialist</li>
                        <li>Physician's Assistant</li>
                        <li>Pediatrician</li>
                        <li>Child Neurologist</li>
                    </ul>
               <li>Significant limitations in daily life skills</li>
                    <ul>
                        <li>Cannot communicate with others</li>
                        <li>Cannot communicate without assistance of others or a device</li>
                        <li>Cannot participate in age appropriate learning</li>
                        <li> Needs assistance with making decisions that affect their well-being</li>
                        <li>Does not have safety awareness</li>
                        <li>Needs help with finances</li>
                        <li>Needs help with bathing, toileting, tooth brushing, dressing and grooming</li>
                        <li>Takes a longer time to complete daily living activities</li>
                        <li>Fine and motor skills are impaired</li>
                        <li>Uses a wheelchair or walker</li>
                        <li>Takes a long time to move</li>
                        <li>Needs assistance with chores, cooking, shopping, and using public transportation</li>
                        <li>Can't perform tasks to keep a job</li>
                    </ul>
                </li>

            </ul>
      </td>
    </tr>
  </tbody>
</table>




      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4>The DDD-1991A - Eligibility Checklist verifies what a completed packet looks like:</h4>
                </a>
    </div>
    <div id="collapseTwo" class="collapse">
      <div class="card-body">


    <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Needed Document</th>
      <th scope="col">Description</th>
      <th scope="col">Purpose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>DDD-1972A Signed Application for Eligibility Determination</td>
      <td>Document requiring personal information about the guardian/parent and the child</td>
      <td>This is to make sure the child has a disability </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Child's birth certificate or citizenship / immigration documentation </td>
      <td>Must show the child is a United States citizen or has legal status to be in the United States</td>
      <td>This is to provide assistance to United State citizens and lawful residents</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Proof of Arizona residency</td>
      <td>Must show the applicant's name and current residential address such as a lease, utility bill, or a State ID</td>
      <td>This is to assist Arizona residents</td>
    </tr>
  <tr>
      <th scope="row">4</th>
      <td>Health Coverage</td>
      <td>A card or document demonstrating coverage for the child</td>
      <td>Some of the medical costs can go to the insurance company</td>
    </tr>
  <tr>
      <th scope="row">5</th>
      <td>Records to demonstrate child's disability</td>
      <td>An Individual Education Plan(IEP) or medical diagnosis is needed to prove the child's disability</td>
      <td>The qualifying disabilities are:
          <ul>
            <li>Autism</li>
            <li>Cerebral Palsy</li>
            <li>Intellectual (Cognitive) Disability</li>
            <li>Epilepsy</li>
              <li>Or At-Risk to get any of the above <b>(under age 6 only)</b></li>
        </ul>
      </td>
    </tr>
  <tr>
      <th scope="row">6</th>
      <td>School Evaluation Documents such as an Individual Education Plan (IEP)</td>
      <td>Document that states your child needs more assistance in school. This is usually documented in an IEP.</td>
      <td>Helps with verifying DDD requirements</td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td>Legal Guardianship</td>
      <td>Must show legal custody of the child</td>
      <td>This demonstrates who has legal rights to make decisions on behalf of the child</td>
    </tr>
  </tbody>
</table>


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <h4>The DDD-1972A - DDD Application is the official application submitted to DESDDD:</h4>
                </a>
    </div>
    <div id="collapseThree" class="collapse">
      <div class="card-body">

    <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">Section</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Section A: Applicant Information</td>
      <td>Child's personal information like name, address,and ethnicity</td>
    </tr>
    <tr>
      <td>Section A.1: Professional Evaluator</td>
      <td>Medical and/or Educational evaluators that can provide proof of the child's disability</td>
    </tr>

    <tr>
      <td>Section B: Parent/Guardian Information</td>
      <td>Parent's personal information like name, address, and relationship to child </td>
    </tr>
    <tr>
      <td>Section C: Health Insurance</td>
      <td>Coverage type and policy number</td>
    </tr>
  <tr>
      <td>Section D: Early Intervention and Educational History</td>
      <td>The school that has provided the IEP services</td>
    </tr>

  </tbody>
</table>

    <div>
        <h5>What is the Authorization for Disclosure of Protected Health Information?</h5>
        <p>The Health Insurance Portability and Accountability Act Privacy Rule helps set the standards to protect medical records and other personal health information.
            This will share the child's medical information with the agency that will review the request. </p>
    </div>
    <div>
        <h5>What is the Authorization for Release of Information?</h5>
        <p>This provides the consent to share the child's medical information.
            The application allows for you to decide what is shareable. </p>
    </div>



      </div>
    </div>
  </div>
</div>









<form align="center" action="{{url_for('english')}}">
        <input style="background-color:#17a2b8" type="submit" value="Submit a question">

    </form>

<br>
<br>
<br>
<p>
</p>

{% endblock content %}