{% extends "base.html" %}
{% block content %}
<div align = "center" class="jumbotron">

    <h2>Arizona Department of Economic Security(DES) División de Discapacidades del Desarrollo(DDD)</h2>

    <h4>Solicitud de Elegibilidad de la DDD:</h4>
</div>


    <div>

        <h5>La solicitud de determinación de elegibilidad de la División de Discapacidades del Desarrollo (DDD) consta de tres documentos principales.</h5>

        <ul>
            <li>DDD-0640A - Cómo se determina la elegibilidad</li>
            <li>DDD-1991A - Lista de verificación de elegibilidad de la DDD</li>
            <li>DDD-1972A - Solicitud para la determinación de elegibilidad</li>
        </ul>
    </div>

<br>
<br>


<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4>DDD-0640A - Cómo se determina la elegibilidad sobre diferente edades:</h4>
                </a>
    </div>
    <div id="collapseOne" class="collapse">
      <div class="card-body">
               <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">Edad</th>
      <th scope="col">Diagnóstico Calificado</th>
      <th scope="col">Información Adicional</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">De 0 (nacimiento) to 3:</th>
      <td>Deben tener un retraso significativo</td>
      <td>Para referir a un niño,contacte la Línea Central de Referencias de AzEIP (Raising Special Kids) al (800) 237-3007 o por correo electrónico AzEIP.Info@raisingspecialkids.org.</td>
    </tr>
    <tr>
      <th scope="row">De 3 a 6:</th>
      <td>
          <ul>
            <li>Autismo</li>
            <li>Parálisis cerebral</li>
            <li>Discapacidad intelectual (cognitiva)</li>
            <li>Epilepsia</li>
            <li>O estar en riesgo de desarrollar una de estas discapacidades</li>
        </ul>
      </td>
        <td>
            <ul>
                <li>Ser residente de Arizona</li>
                <li>Evaluación por un profesional médico o evaluador escolar</li>
                    <ul>
                        <li>Médico</li>
                        <li>Psicólogo escolar</li>
                        <li>Enfermera</li>
                        <li>Especialista en educación infantil</li>
                        <li>Asistente médico</li>
                        <li>Pediatra</li>
                        <li>Neurólogo infantil</li>
                    </ul>
                <li>Hay otras discapacidades aceptadas:
                    <ul>
                        <li>El síndrome de Down</li>
                        <li>El síndrome del bebé sacudido o casi ahogamiento</li>
                        <li>Sanomalía de Arnold Chiari</li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
      <th scope="row">De 6 a la edad adulta:</th>
        <td>
            <ul>
             <li>Autismo</li>
            <li>Parálisis cerebral</li>
            <li>Discapacidad intelectual (cognitiva)</li>
            <li>Epilepsia</li>
            <li>O estar en riesgo de desarrollar una de estas discapacidades</li>
        </ul>
        </td>
      <td>
           <ul>
                <li>Ser residente de Arizona</li>
               <li>Ser diagnosticado con una discapacidad del desarrollo que comenzó antes de los 18 años y es probable que continúe indefinidamente</li>
                <li>Evaluación por un profesional médico o evaluador escolar</li>
                    <ul>
                         <li>Médico</li>
                        <li>Psicólogo escolar</li>
                        <li>Enfermera</li>
                        <li>Especialista en educación infantil</li>
                        <li>Asistente médico</li>
                        <li>Pediatra</li>
                        <li>Neurólogo infantil</li>
                    </ul>
               <li> Limitaciones significativas en las habilidades de la vida diaria</li>
                    <ul>
                        <li>No puede comunicarse con los demás</li>
                        <li>No puede comunicarse eficazmente sin la ayuda de otras personas o sin un dispositivo mecánico</li>
                        <li>No puede participar sin ayuda en actividades del aprendizaje adecuadas para su edad</li>
                        <li>Necesita ayuda para tomar decisiones las cuales afectan su bienestar</li>
                        <li>No tiene habilidades de conciencia de seguridad</li>
                        <li>Necesita ayuda para administrar sus finanzas personales</li>
                        <li>Necesita ayuda significativa para bañarse, usar el inodoro, cepillarse los dientes, vestirse y aseo personal</li>
                        <li>Tarda mucho tiempo la persona para completar actividades de cuidado por sí mismo</li>
                        <li>Las habilidades motrices finas o gruesas se ven disminuidas</li>
                        <li>Usa una silla de ruedas o un andador para moverse de un lugar a otro</li>
                        <li>Toma mucho tiempo para moverse</li>
                        <li>Ocupa ayuda para completar las tareas domésticas, preparar comidas sencillas e usar el transporte público</li>
                        <li>No puede desempeñar las tareas necesarias para mantener un trabajo</li>
                    </ul>
                </li>

            </ul>
      </td>
    </tr>
  </tbody>
</table>




      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4>The DDD-1991A - Lista de Verificacion de Elegibilidad de la DDD verifica cómo se ve un paquete completo:</h4>
                </a>
    </div>
    <div id="collapseTwo" class="collapse">
      <div class="card-body">


    <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Documento necesario</th>
      <th scope="col">DDescripción</th>
      <th scope="col">Propósito</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>DDD-1972A Solicitud para la Determinación de Elegibilidad</td>
      <td>Solicita información sobre usted y su niño o la persona por la que está solicitando.</td>
      <td>DDD necesita información sobre usted o su niño para decidir si usted o su niño son elegible</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Copia del acta de nacimiento (o documento de ciudadanía / inmigración) del niño</td>
      <td>Demuestre la ciudadanía o presencia legal en los Estados Unidos</td>
      <td>El estado de Arizona requiere que DDD le ayude a las personas nacidas en los Estados Unidos o que tienen residencia legal en los Estados Unidos</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Comprobante de residencia en Arizona</td>
      <td>Debe mostrar el nombre del solicitante y la dirección residencial actual, como un contrato de arrendamiento, una factura de servicios públicos o una identificación estatal</td>
      <td>Esto es para ayudar a los residentes de Arizona</td>
    </tr>
  <tr>
      <th scope="row">4</th>
      <td>Cobertura médica</td>
      <td>Una tarjeta o documento que demuestre la cobertura para el niño</td>
      <td>Su compañía de seguros puede tener la responsabilidad de pagar los costos médicos antes de que DDD pague</td>
    </tr>
  <tr>
      <th scope="row">5</th>
      <td>Expedientes que muestran una discapacidad que lo califique para los servicios de la División</td>
      <td>Se necesita un Plan de Educación Individual (IEP) o un diagnóstico médico para probar la discapacidad del niño</td>
      <td>Las discapacidades que califican son:
          <ul>
            <li>Autismo</li>
            <li>Parálisis cerebral</li>
            <li>Discapacidad intelectual (cognitiva)</li>
            <li>Epilepsia</li>
            <li>O estar en riesgo de desarrollar una de estas discapacidades<b>(solo menores de 6 años)</b></li>
        </ul>
      </td>
    </tr>
  <tr>
      <th scope="row">6</th>
      <td>Documentos de evaluación escolar, como un plan de educación individual (IEP)</td>
      <td>Documento que indique que su hijo necesita más ayuda en la escuela. Esto generalmente se documenta en un IEP</td>
      <td>Ayuda a verificar los requisitos de la DDD</td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td>Documentos que muestran responsabilidad legal / tutela</td>
      <td>Documento entregado por el tribunal o documento legal que muestre quién tiene el derecho de tomar decisiones legales</td>
      <td>DDD necesita saber quién tiene el derecho de tomar decisiones legales sobre su niño o la persona que está solicitando</td>
    </tr>
  </tbody>
</table>


      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <h4>The DDD-1972A - Solicitud para la determinación de elegibilidad es la solicitud oficial enviada a DESDDD:</h4>
                </a>
    </div>
    <div id="collapseThree" class="collapse">
      <div class="card-body">

    <table class="table table-hover table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">Sección</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sección A: Información del solicitante</td>
      <td>Información personal del niño como nombre, dirección y etnia</td>
    </tr>
    <tr>
      <td>Sección A.1: Evaluador profesional</td>
      <td>Evaluadores médicos y/o educativos que puedan proporcionar prueba de la discapacidad del niño</td>
    </tr>

    <tr>
      <td>Sección B: Información de padres/sustituto</td>
      <td>Información personal de los padres, como nombre, dirección y relación con el niño</td>
    </tr>
    <tr>
      <td>Sección C: Seguro médico</td>
      <td>Tipo de cobertura y número de póliza</td>
    </tr>
  <tr>
      <td>Sección D: Intervención temprana e Historial académico</td>
      <td>The school that has provided the IEP services</td>
    </tr>

  </tbody>
</table>

    <div>
        <h5>¿Qué es la Autorización para Divulgación de Información de Salud Protegida?</h5>
        <p>La Regla de Privacidad de la Ley de Portabilidad y Responsabilidad del Seguro Médico ayuda a establecer los estándares para proteger los registros médicos y otra información de salud personal.
             Esto compartirá la información médica del niño con la agencia que revisará la solicitud. </p>
    </div>
    <div>
        <h5>¿Qué es la Autorización de Divulgación de Información?</h5>
        <p>Esto proporciona el consentimiento para compartir la información médica del niño.
             La aplicación te permite decidir qué se puede compartir. </p>
    </div>



      </div>
    </div>
  </div>
</div>









<form align="center" action="{{url_for('spanish')}}">
        <input style="background-color:#17a2b8" type="submit" value="Enviar una pregunta">

    </form>

<br>
<br>
<br>
<p>
</p>

{% endblock content %}